<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WikiLeaks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WikiLeaks.Properties.Settings>
      <setting name="Domain" serializeAs="String">
        <value>https://wikileaks.org/</value>
      </setting>
      <setting name="Repository" serializeAs="String">
        <value>podesta-emails</value>
      </setting>
      <setting name="Action" serializeAs="String">
        <value>emailid</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DocumentNo" serializeAs="String">
        <value>25000</value>
      </setting>
    </WikiLeaks.Properties.Settings>
  </userSettings>
</configuration>