<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WikiLeaks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WikiLeaks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WikiLeaks.Properties.Settings>
      <setting name="Domain" serializeAs="String">
        <value>https://wikileaks.org/</value>
      </setting>
      <setting name="Repository" serializeAs="String">
        <value>podesta-emails</value>
      </setting>
      <setting name="Action" serializeAs="String">
        <value>emailid</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DocumentNo" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="StartId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EndId" serializeAs="String">
        <value>35000</value>
      </setting>
      <setting name="CacheFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ResultsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="WillHighlight" serializeAs="String">
        <value>True</value>
      </setting>
    </WikiLeaks.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WikiLeaks.Properties.Settings>
      <setting name="DefaultTerms" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>CVC</string>
            <string>Clinton</string>
            <string>Emergency</string>
            <string>Foundation</string>
            <string>HRC</string>
            <string>Health</string>
            <string>Hillary</string>
            <string>KSA</string>
            <string>Login</string>
            <string>Mills</string>
            <string>Obama</string>
            <string>Pagliano</string>
            <string>Password</string>
            <string>Podesta</string>
            <string>Potus</string>
            <string>Qatar</string>
            <string>Saudi</string>
            <string>Soros</string>
            <string>Striker</string>
            <string>Turi</string>
            <string>Urgent</string>
            <string>Username</string>
            <string>WJC</string>
          </ArrayOfString>
        </value>
      </setting>
    </WikiLeaks.Properties.Settings>
  </applicationSettings>
</configuration>